.credit-admin{
    position: relative;
    .credit-admin__fixed-frame__up{
        border-radius: 30px 30px 0 0;
        overflow: hidden;
        h3{
            text-align: center;
            background-color: $mainColor;
            padding: 3px 0;
            margin-bottom: 0;
            color: #FFF;
            font-size: 20px;
        }
        .credit-admin__fixed-frame__up__p{
            padding: 10px;
            border: 1px solid #D7D7D7;
            p{
                font-size: 35px;
                font-weight: bold;
                margin-bottom: 0;
            }
        }
    }
    .credit-admin__fixed-frame__down{
        border-radius: 0 0 30px 30px;
        margin-top: 40px;
        padding: 25px;
        border: 1px solid #D7D7D7;
        border-bottom: 30px solid $mainColor;
        .payment-methods__frame{
            border-radius: 25px;
            overflow: hidden;
            border: 1px solid #D7D7D7;
            height:100%;
            h4{
                font-size: 20px;
                text-align: center;
                margin-bottom: 0;
                padding: 6px;
                background-color:$mainColor;
                color: #FFF;
            }
            .payment-methods__frame__list{
                padding: 40px 7px 20px;
                @media #{$maxMobile} {
                    padding: 20px 7px;
                }
                .payment-methods__frame__list__link{
                    color: #1F2535;
                    font-weight: bold;
                    font-size: 23px;
                    padding: 10px 17px;
                    box-shadow: 0px 1px 3px #CCC;
                    border: none;
                    background-color: #FFF;
                    margin: 6px 0;
                    border-radius: 0;
                    line-height: 100%;
                    &.active{
                        color: $blue;
                        box-shadow: none;
                    }
                    svg{
                        color: $mainColor;
                        margin-#{$end}: 15px;
                        @media #{$maxMobile} {
                            margin-#{$end}:6px;
                        }
                    }
                    @media #{$maxMobile}{
                        font-size: 18px;
                        padding:7px 10px;
                    }                   
                }
            }
            .payment-methods__frame__info{
                padding:50px 40px;
                .payment-methods__frame__info__tab{
                    p{
                        font-size: 22px;
                        color: $secondColor;
                        font-weight: bold;
                        margin-bottom: 20px;
                        span{
                            color: $blue;
                            margin-#{$start}:55px;
                        }
                    }
                    button{
                        border: none;
                        padding: 0px 20px;
                        font-size: 22px;
                        color: #FFF;
                        border-radius: 6px;
                        background-color: #28a745;
                        margin-top:20px;
                    }
                }
            }
        }

    }
}

